@tailwind base;
@tailwind components;
@tailwind utilities;

/* Responsive image dimensions */
.img-responsive {
  width: 10%; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

@media (min-width: 640px) {
  .img-responsive {
    width: 50%; /* Adjust for larger screens */
  }
}

@media (min-width: 768px) {
  .img-responsive {
    width: 30%; /* Adjust for even larger screens */
  }
}

